* {
	font: 400 14px / 1.2 'Roboto';
	color: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root, .App {
	height: 100%;
}

.App {
	background: url("assets/images/space-energy.jpeg") 0 0 / cover no-repeat;
	color: #fff;
}

h1 {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5%;
	height: 100%;
}

.start-page h1 {
	margin-bottom: 50px;
}

.exercise-type-wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.exercise-type {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 200px;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
	transition: .3s background-color;
}

.exercise-type:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.App {
	padding-top: 20px;
}

header {
	position: relative;
	padding: 10px 0 10px 50px;
	background: #3d8bd5;
}

.header-back {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 100%;
}
.no-back-header {
	padding-left: 10px;
}

.no-back-header a {
	display: none;
}

.arrow-back {
	width: 15px;
	height: auto;
}

.list-program,
.content{
	max-width: 80%;
	margin: 0 auto;
	background: #0103119e;
}

.program-day-title {
	display: flex;
	justify-content: space-between;
}

.list-program > a {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 5px 40px 5px 10px;
	border-bottom: 1px solid #fff;
	text-decoration: none;
}

.list-program > a:hover {
	opacity: .7;
}

.list-program > a:last-child {
	border-bottom: none;
}

.list-program .arrow-next {
	width: 15px;
	height: auto;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}
.program-description,
.program-approaches {
	padding-top: 3px;
	font-size: 10px;
}

.program-approaches {
	word-spacing: 6px;
}

.play-wrapper {
	display: flex;
}

.play-wrapper {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.play {
	position: relative;
	width: 200px;
	height: 200px;
	background: #000;
	border-radius: 50%;
	border: 4px solid;
	cursor: pointer;
}

.play:after {
	content: '';
	position: absolute;
	left: calc(50% + 35px);
	top: 50%;
	transform: translate(-50%, -50%);
	border: 50px solid rgba(0, 0, 0, 0);
	border-left: 70px solid #fff;
}