* {
	font: 400 14px / 1.2 'Roboto';
	color: #fff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root, .App {
	height: 100%;
}

.App {
	background: url("assets/images/space-energy.jpeg") 0 0 / cover no-repeat;
	color: #fff;
}

h1 {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}

.start-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5%;
	height: 100%;
}

.start-page h1 {
	margin-bottom: 50px;
}

.exercise-type-wrapper {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.exercise-type {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	height: 200px;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
	transition: .3s background-color;
}

.exercise-type:hover {
	background-color: rgba(255, 255, 255, 0.3);
}